body {
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: #61D7A4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.placeWrap {
    padding: 5px;
}

.placeImg {
    width: 100%
}

.placePaper {
    cursor: pointer;
}

.placePaper:hover {
    background-color: #e3e3e3;
}

.placeUrl {
    text-decoration: none;
    color: white;
}

.header {
    padding: 10px;
    background-color: #3F92D2	;
}

.footer {
    padding: 10px;
    background-color: #bdad00;
}
.btn {
    padding: 5px;
    background-color: #3a84bd;
    border-radius: 5px;
}